@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,900;1,700&family=Roboto:ital,wght@0,400;1,700;1,900&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}
.landing{
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
}
.inovative_text{
    text-shadow: 2px 2px 4px #000000;
}
.architect_background{
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/architecture_design.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}
.interior_background{
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/interior_background.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}
.exterior_background{
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/exterior_background.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px #000000;
}
#architecture p{
    font-size: 25px;
}
#interior p{
    font-size: 25px;
}
#exterior p{
    font-size: 25px;
}



